<p style="color: green"><%= notice %></p>

<h1>Search for Students</h1>
<!-- This comment comment line is visible on the client side. -->


<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
      <%= link_to "Show this student", student %>
    </p>
  <% end %>
</div>

<%= link_to "New student", new_student_path %>